@model JobSeeker.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Job Details</h2>

<div style="margin:20px;" class="JobDetails">
    <h4 style="color:darkblue; padding-top:10px;">@Html.DisplayFor(model => model.JobTitle)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.JobImage)" 
                 alt="Job Image" style="width: 80px; height:100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
    </dl>

    @using (Html.BeginForm("Apply","Home", FormMethod.Post, new {enctype="multipart/form-data"})) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model =>model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Apply" class="btn btn-secondary"/> |
            @Html.ActionLink("Back Home Page", "Index", null, new {@class="btn btn-success"})
        </div>
    }
</div>
