@model IEnumerable<JobSeeker.Models.Category>

@{
    ViewBag.Title = "Home Page";
}


@Html.AntiForgeryToken()

<div class="jumbotron alert-secondary" style="padding:30px; margin-bottom:40px;">
    <h1>Hello Dear Visitor</h1>
    <h5>You can find and publish different types of jobs and look for the best matches job for you all in one place called <span id="title">JobSeeker</span></h5>
    <p><a href="#" class="btn btn-primary btn-lg">More Details &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="card bg-light mb-3" style="margin-bottom: 50px;">
        <div class="card-header"><h1>@Html.DisplayFor(model => item.CategoryName)</h1></div>
        
        <div class="row" style="padding:10px;">
            <div class="card-title"><h5>@Html.DisplayFor(model => item.Description)</h5></div>
            @foreach (var innerItem in item.Jobs)
            {
                <div id="cardPanel" class="card text-center text-white bg-secondary col-md-3" style="margin-left: 20px; margin-bottom: 20px; min-height: 380px; padding:10px;">
                    <img class="card-img-top" src="~/Uploads/@innerItem.JobImage" style="padding-bottom:10px;" alt="Job Image"  />
                    <h3 class="card-title" style="padding-bottom:5px; color:darkblue; font-weight:bold">@innerItem.JobTitle</h3>
                    <h6 class="card-body" style="padding-bottom:5px;">@Html.Raw(HttpUtility.HtmlDecode(@innerItem.JobDescription.ToString()))</h6>
                    @Html.ActionLink("More Detail", "Details", new { id = innerItem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
}
