@model IEnumerable<JobSeeker.Models.Category>

@{
    ViewBag.Title = "Home Page";
}


@Html.AntiForgeryToken()

<div class="jumbotron">
    <h1>Hello Dear Visitor</h1>
    <h5>You can find and publish different types of jobs and look for the best matches job for you all in one place called <span id="title">JobSeeker</span></h5>
    <p><a href="#" class="btn btn-primary btn-lg">More Details &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-default" >
        <h1 class="panel-heading">@Html.DisplayFor(model => item.CategoryName)</h1>
        <h5 class="panel-heading">@Html.DisplayFor(model => item.Description)</h5>

        <div class="row">
            @foreach (var innerItem in item.Jobs)
            {
            <div class="col-md-3" style="margin-left:20px; margin-bottom: 20px; height:380px;">
                <img src="~/Uploads/@innerItem.JobImage" alt="Job Image" style="width:120px; height:130px;padding-bottom:10px;" />
                <h3 style="padding-bottom:5px;">@innerItem.JobTitle</h3>
                <h6 style="padding-bottom:5px;">@innerItem.JobDescription</h6>
                @Html.ActionLink("More Detail", "Details", new { id = innerItem.Id }, new { @class = "btn btn-secondary" })
            </div>
            }
        </div>
    </div>
}
