@using Microsoft.AspNet.Identity
@using JobSeeker.Resources

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(JobSeekerResources.LogOff, "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var context = new ApplicationDbContext();
        var UserId = User.Identity.GetUserId();
        var currentUser = context.Users.Where(p => p.Id == UserId).SingleOrDefault();
        @Html.AntiForgeryToken()


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Hi @User.Identity.GetUserName()
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="#">
                        @User.Identity.GetUserName()
                        @if (currentUser.UserImage != null)
                        {
                            <img src="~/Uploads/@currentUser.UserImage" style="width:50px; height:60px" alt="User Image" />
                        }
                        else
                        {
                            <svg style="width:70px; height:100px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        }
                    </a>
                </li>
                @if (currentUser.UserType.Contains("Publisher"))
                {
                    <li><a class="dropdown-item" href="/Home/GetJobsByPublisher">Published Jobs</a></li>
                    <li><a class="dropdown-item" href="/Jobs/Create">Publish New Jobs</a></li>
                    <li><a class="dropdown-item" href="/Jobs/Index">Edit Published Jobs</a></li>
                }
                else
                {
                    <li><a class="dropdown-item" href="/Home/GetJobsByUserId">Applied Jobs</a></li>
                }
                <li><a class="dropdown-item" href="/Account/EditProfile">Edit Account</a></li>
                <li><a class="dropdown-item" href="/Manage/ChangePassword">Change Password</a></li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a href="/Account/Login" class="nav-link active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <i class="glyphicon glyphicon-user">@JobSeekerResources.Login</i>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Account/Register" class="nav-link active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock-fill" viewBox="0 0 16 16">
                    <path d="M7 6a1 1 0 0 1 2 0v1H7V6zM6 8.3c0-.042.02-.107.105-.175A.637.637 0 0 1 6.5 8h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.637.637 0 0 1 9.5 11h-3a.637.637 0 0 1-.395-.125C6.02 10.807 6 10.742 6 10.7V8.3z" />
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z" />
                </svg>
                <i class="glyphicon glyphicon-lock">@JobSeekerResources.Register</i>
            </a>
        </li>
    </ul>
}
